bokeh==1.0.4
click==7.1.2
Flask==1.0
Flask-WTF==0.14.3
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
numpy==1.19.4
packaging==20.8
Pillow==8.1.2
pip-tools==5.5.0
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.3.1
scipy==1.5.4
six==1.15.0
tornado==6.1
Werkzeug==1.0.1
WTForms==2.3.3
