{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block head %}
  <script type="text/javascript" src="{{ url_for('static', filename='priorInputs.js') }}"> </script>
{% endblock %}
{% block title %}Bayesian Probability Coin Flip{% endblock %}
{% block content %}    
  <h2>Enter the probability a coin turns up heads</h2>
  <div class="container-fluid">
    <form id="input" method="post" action="/" novalidate>
      {{ form.hidden_tag() }}
      <div class="form">
	{{ render_field(form.probability) }}
	<br>{{ form.prior.label }}<br>
	{% for subfield in form.prior %}
	  {% if "Uniform" == subfield.label.text %}
	    {{ subfield(onchange="prepareUniform();") }}
	    {{ subfield.label }} <br>
	  {% else %}
	    {{ subfield(onchange="prepareBeta();") }}
	    {{ subfield.label }} <br>
	  {% endif %}
	{% endfor %}
	<div id="prior-params" style={{ style|safe }}>
	  {{ render_field(form.param_a) }} <br>
	  {{ render_field(form.param_b) }}
	</div>
      </div>
      <div id="submit">
	{{ form.submit }}
      </div>
    </form>
  </div>
{% endblock %}
