{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-{{ version }}.min.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-{{ version }}.min.css" type="text/css" />
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-{{ version }}.min.js"></script>
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-{{ version }}.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
{{ script | safe }}
{% endblock %}
{% block content %}
<div class=page>
  <h2>Unfair Coin Simulation</h2>
  {{ div | safe }}
</div>
{% endblock %}
