{% extends "base.html" %}
{% from "_macros.html" import render_field %}
{% block head %}
  <script type="text/javascript" src="{{ url_for('static', filename='priorInputs.js') }}"> </script>
{% endblock %}
{% block title %}Bayesian Probability Coin Flip{% endblock %}
{% block content %}
<div class="container">
  <h2>Enter simulation data</h2>
    <form id="input" method="post" action="/" novalidate>
      {{ form.csrf_token }}
      <div class="form-group">
	{{ render_field(form.probability) }}
      </div>
      <h4>Choose a prior</h4>
      <div class="form-group">
	{% for subfield in form.prior %}
	  {% if "Uniform" == subfield.label.text %}
	    {{ subfield(onchange="prepareUniform();") }}
	    {{ subfield.label }} <br>
	  {% else %}
	    {{ subfield(onchange="prepareBeta();") }}
	    {{ subfield.label }} <br>
	  {% endif %}
	{% endfor %}
	<div id="prior-params" style={{ style|safe }}>
	  {{ render_field(form.param_a) }} <br>
	  {{ render_field(form.param_b) }}
	</div>
      </div>
      <button type="submit" class="btn btn-primary">Plot</button>
    </form>
</div>
{% endblock %}
